example/example01_image.json
[{"id":"907d2e6b.2c7e4","type":"function","z":"9557b28b.ca52f","name":"Set FreeRooms Parameters","func":"msg.payload = {\n    FreeRooms: {\n        StartDT: \"2017-12-06T18:00:00Z\",\n        EndDT: \"2017-12-06T19:00:00Z\",\n        Site: \"Tokyo\", \n        Capacity: 4\n    }\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":200,"y":1080,"wires":[["806808ee.efe6a8"]]},{"id":"5e43d65d.57bc78","type":"inject","z":"9557b28b.ca52f","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":140,"y":1000,"wires":[["18c68807.d70538"]]},{"id":"c45f8c74.79019","type":"debug","z":"9557b28b.ca52f","name":"","active":true,"console":"false","complete":"ontime.response","x":560,"y":1140,"wires":[]},{"id":"18c68807.d70538","type":"token","z":"9557b28b.ca52f","name":"","host":"http://<<your domino server>>/<<path>>/OnTimeGCClient.nsf","APIVer":"7","ApplID":"<<your ApplID>>","ApplVer":"0.0.1","CustomID":"","outputmsg":false,"x":370,"y":1000,"wires":[["91bd0ffc.60d2"]]},{"id":"91bd0ffc.60d2","type":"core login","z":"9557b28b.ca52f","name":"","CustomID":"","outputmsg":false,"x":600,"y":1000,"wires":[["907d2e6b.2c7e4"]]},{"id":"806808ee.efe6a8","type":"extened","z":"9557b28b.ca52f","name":"","CustomID":"","outputmsg":false,"x":430,"y":1080,"wires":[["7aa4b928.ca9d68","c45f8c74.79019"]]},{"id":"7aa4b928.ca9d68","type":"core logout","z":"9557b28b.ca52f","name":"","CustomID":"","outputmsg":false,"x":610,"y":1080,"wires":[[]]},{"id":"f7e2424a.fa60e","type":"comment","z":"9557b28b.ca52f","name":"Search for available rooms","info":"","x":150,"y":940,"wires":[]}]